main {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

div {
    display: grid;
}

h1 {
    text-align: left;
}

h2 {
    background-color: black;
    color: white;
    font-size: 2em;
    margin: 0;
    text-indent: 50px;
    font-weight: lighter;
}

h3 {
    display: block;
}

.card {

    background-color: rgb(252, 249, 249);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    display: grid;
}

.card-4 {
    grid-row: 2;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.image {
    display: block;
    max-width: 100%;
    visibility: hidden;
}

img {
    width: auto;
    height: 200px;
}

.content {
    display: flex;
    flex-direction: column;
}

.laptop-price {
    align-items: center;
}

.balance-container,
.salary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
}

.loan-container {
    display: none;
}

.label {
    font-weight: bold;
    margin-right: auto;
    margin-right: 10px;

}

.bank-balance {
    margin-left: auto;
}

.button-container {
    display: flex;

    align-items: flex-end;

}

.features {
    visibility: hidden;
}

.button1 {
    flex-grow: 1;
    font-size: 16px;
    background-color: rgb(42, 219, 145);
    color: black;
    border-color: rgb(42, 219, 145);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.button2 {
    flex-grow: 1;
    font-size: 16px;
    background-color: rgb(250, 225, 0);
    color: black;
    border-color: rgb(250, 225, 0);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.button3 {
    flex-grow: 1;
    font-size: 16px;
    color: white;
    background-color: rgb(63, 44, 228);
    border-color: rgb(63, 44, 228);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.button4 {
    flex-grow: 1;
    font-size: 16px;
    color: black;
    background-color: rgb(28, 137, 209);
    border-color: rgb(28, 137, 209);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: none;
    font-weight: bolder;
}

.button5 {
    font-size: 16px;
    color: black;
    background-color: rgb(42, 219, 145);
    border-color: rgb(42, 219, 145);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: none;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover {
    background-color: crimson;
    border-color: crimson;
}
